<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.mazadatimagepicker">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.RECORD_AUDIO"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
    tools:ignore="ScopedStorage" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

  <uses-feature android:name="android.hardware.camera.autofocus" />


  <application
    android:supportsRtl="true"
    android:usesCleartextTraffic="true"
    android:requestLegacyExternalStorage="true"
    android:allowBackup="false"
    tools:replace="android:allowBackup">
    <activity
      android:name=".Camera.Gallery.Gallery"
      android:exported="false"
      android:screenOrientation="portrait"
      android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"/>
    <activity
      android:name=".Camera.PickerCameraActivity"
      android:exported="false"
      android:theme="@style/FullScreen"
      android:screenOrientation="portrait"/>
  </application>

</manifest>
